.burgerConstructor {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 600px;
	align-items: flex-end;
	border: 1px solid transparent;
}

.dropBorder {
	border: 1px solid #535bf2;
}

.list {
	list-style: none;
	max-height: 400px;
	overflow-y: scroll;
	padding: 16px 0;
	margin: 0;
}

.listElement {
	display: flex;
	margin-bottom: 16px;
	align-items: center;
}

.listElementHover {
	opacity: 0.7;
}

.buns {
	max-height: 80px;
}

.placeAnOrder {
	text-align: right;
}
