.loginWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top:100px;
	padding: 0;
}

.loginInputs {
	margin-top:50px;
	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.loginActions {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
