.layout {
	display: flex;
	width: 100%;
	padding: 0 20px;
	gap: 80px;
}

.outlet {
	max-height: calc(100vh - 140px);
}

.link {
	text-decoration: none;
	display: flex;
	text-align: center;
	align-items: center;
}

.nav {
	max-width: 320px;
}

.navigationList {
	list-style-type: none;
}

.linkActive {
	color: #f2f2f3;
	text-decoration: none;
}
