.header {
	display: flex;
	justify-content: center;
	height: 88px;
}

.headerNavigation {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	min-width: 1300px;
}

.headerLink {
	display: flex;
	gap: 8px;
	border-radius: 25px;

	&:last-child {
		margin-left: auto;
	}
}

.headerLogo {
	position: absolute;
	left: calc(50% - 145px);
	top: 17px;
}

// ---

.app_header {
	border: 10px double red;
	height: 88px;
	top: 40px;
	width: 1200px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}
.app_header_in {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 300px;
}

.app_header_row {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}

.side {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 1250px;
	margin: 40px;
}

.box1 {
	display: flex;
	flex-direction: row;
	width: 350px;
	justify-content: space-between;
	align-items: center;
}
.inmenu {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
	text-decoration: none;
}
.inmenu_logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}
.inmenu span {
	margin-left: 8px;
	color: #ffffff;
	text-decoration: none;
}
